@import "Variables";
@import "Components";

.answer_screen {
	flex-grow: 1;
	width: 100%;
}
.player {
	width: 80%;
	margin: 0 auto;
	max-width: 800px;
	
	&--image {
		display: flex;
		width: 100%;
		&--img {
			width: 7em;
			height: 7em;
			margin: 0.5em auto 0.2em auto;
		}
	}
	&--author {
		font-size: 0.7em;
		line-height: 1em;
	}
	&--buttons {
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: center;
		
		> .button {
			margin-top: 0.3em;
			
			&:first-of-type {
				margin-right: 0.5em;
			}
		}
	}
}