$light-blue: #5f758e;
$dark-blue: #2d3047;
$beige: #dbdfac;
$pink: #a53860;
$black: #000;
$red: #D40404;

body,
button,
input {
	font-family: "Oswald", sans-serif;
	font-weight: normal;
	font-size: 18px;
}
h1 {
	font-size: 2em;
	text-transform: uppercase;
}
p {
	font-size: 1em;
	line-height: 1.4em;
}

.App {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: $dark-blue;
	background-image: url("../back.svg");
	background-position: center;
	background-size: 80%;
	background-repeat: repeat-y;
	min-height: 100vh;
	color: $beige;
}
.App-footer,
.App-header {
	text-align: center;
	background-color: $light-blue;
	width: 100%;
}
.App-header {
	height: fit-content;
	padding: 0.3em 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	
	> .score {
		margin-bottom: 10px;
	}
}
.score {
	font-size: 1.5em;
	text-align: center;
	text-transform: uppercase;
	margin: 0 20px;
	
	
}
.button-group {
	display: flex;
	flex-direction: row;
	justify-items: stretch;
	align-items: stretch;
	justify-self: flex-end;
	
	> .button {
		margin-bottom: 0.5em;
		margin-right: 0.5em;
	}
	
	&:last-child {
		margin-right: 0;
	}
}

.App-footer {
	font-size: 0.6em;
	color: $black;

	p {
		margin: 0.5em 0;
	}
}

.App-body {
	width: 100%;
	height: 100%;
	flex-grow: 1;
	margin: 16px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	//background-image: url("../back.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-clip: content-box;
}
.listen {
	width: 100%;
	
	&--mic {
		width: 5em;
		height: 5em;
		border-radius: 3.5em;
		background-color: $dark-blue;
		border: 3px solid $pink;
		margin-top: 0.3em;
		
		&__img {
			width: 4em;
			height: 4em;
			margin: 0.5em;
		}
	}
	&--buttons {
		width: 100%;
		
		&--container {
			display: flex;
			flex-direction: row;
			justify-content: center;
			width: 100%;
			
			> button {
				width: 100%;
				margin: 0.5em;
				max-width: 250px;
				align-self: center;
			}
		}
	}
}
.timer {
	display: flex;
	align-items: center;
	justify-items: center;
	
	&--point {
		min-width: 0.6em;
		min-height: 0.6em;
		border-radius: 1em;
		border: 2px solid $beige;
		background-color: $red;
		margin-top: 0.35em;
		margin-right: 0.2em;
	}
	&--label {
		margin-top: 0.3em;
		width: 100%;
		text-align: center;
	}
}
.input {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.lyrics {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 85vw;
	align-self: center;
	flex-grow: 1;
	
	&--img {
		width: 4em;
		height: 4em;
		margin-bottom: 1em;
		display: none;
	}
	&--textarea {
		margin-bottom: 1em;
		width: 100%;
		height: 100%;
		font-size: 0.8em;
		border-radius: 10px;
		padding: 0.4em;
		border: 2px solid $pink;
		background-color: $dark-blue;
		color: $beige;
		resize: none;
		flex-grow: 1;
		background-image: url("../lyrics.svg");
		background-size: 40%;
		background-repeat: no-repeat;
		background-position: center;
		
		&::placeholder {
			color: $beige;
		}
	}
	&--button {
		width: 100%;
	}
}
.or {
	font-size: 1.5em;
	line-height: 1.2em;
	flex-grow: unset;
	text-align: center;
}
.listen,
.type {
	//max-width: 500px;
	//width: 45%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.textarea {
	font-family: "Oswald", sans-serif;
	font-size: calc(14px + 2vmin);
	color: rgba(241, 245, 242, 1);
	border: none;
	margin: 1rem;
	border-radius: 1vmin;
	background-color: $pink;
	resize: none;
	width: 100%;
	box-sizing: border-box;

	&::placeholder {
		color: rgba(241, 245, 242, 0.7);
	}
}
.button {
	background: $pink;
	border: none;
	padding: 0.3em 0.5em;
	font-size: 0.9em;
	border-radius: 8px;
	text-align: center;
	text-transform: uppercase;
	color: rgba(241, 245, 242, 0.6);
	transition-property: color;
	transition: color 0.25s ease-in-out;

	&:hover,
	&:active {
		color: rgba(241, 245, 242, 1);
	}
}

.link {
	border-bottom: 1px solid #000000;
	text-decoration: none;
	color: inherit;
	transition: color 0.3s;

	&:hover {
		border-bottom: 1px solid $pink;
		color: $pink;
	}

	&:visited {}
}
.uppercase {
	text-transform: uppercase;
}
.p_small {
	font-size: 0.8em;
}
.t_center {
	text-align: center;
}

/* Adaptivity */
/* mobile screens */
@media screen and (min-width: 420px) {
	.App-header {
		flex-direction: row;
		
		&:first-child {
			margin-bottom: 0;
		}
	}
	.button-group {
		flex-direction: row;
	}
	.button-group > .button {
		margin-top: 0;
		margin-bottom: 0;
	}
	.lyrics {
		max-height: 70%;
		&--img {
			display: block;
		}
		&--textarea {
			background-image: none;
		}
	}
	.App-header > .score {
		margin-bottom: 0;
	}
}
@media screen and (min-width: 576px) {
	.listen--mic {
		width: 7em;
		height: 7em;
		border-radius: 3.5em;
		background-color: $dark-blue;
		border: 3px solid $pink;
		margin-top: 0.5em;
		
		&__img {
			width: 5em;
			height: 5em;
			margin: 1em;
		}
	}
}
@media screen and (min-width: 680px) {
	
	body {
		font-size: 20px;
	}
}
/* desktops, laptops, tablets */
@media screen and (min-width: 768px) {
	
	body {
		font-size: 22px;
	}
	.input {
		flex-direction: row;
	}
	.listen {
		margin: 0 2em;
	}
	.lyrics {
		margin: 0 2em;
		max-width: unset;
		align-self: stretch;
	}
	.listen--buttons--container {
		flex-direction: row;
		max-width: unset;
		
		> button {
			max-width: unset;
		}
	}
}
@media screen and (min-width: 920px) {
	body {
		font-size: 24px;
	}
}
/* large screens */
@media screen and (min-width: 1200px) {
	
	body {
		font-size: 28px;
	}
}
@media screen and (min-width: 1400px) {
	body {
		font-size: 32px;
	}
}
