.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(99, 139, 104);
  color: #ffffff;
  min-height: 100vh;
}

.App-header {
  text-align: center;
  font-size: calc(40px + 2vmin);
  margin-bottom: 16px;
}

.App-body {
  flex-grow: 1;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App-footer {
  text-align: right;
}

.scoreboard {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin-bottom: 16px;
}

.score {
  background-color: #303030;
  font-size: calc(6vmin);
  font-family: "Courier New";
  font-weight: 600;
  text-align: center;
  border-radius: 2vmin;
  padding: 2vmin;
  width: 40%;
  box-sizing: border-box;
}

.input {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.mic, .lyrics {
  height: 20vh;
  box-sizing: border-box;
}

.or {
  font-size: 48px;
  font-weight: 600;
}

.listen, .type {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listen-button {
  width: 100%;
  margin: 1rem 0px;
  font-family: "Courier New";
  font-weight: 600;
  font-size: calc(14px + 2vmin);
  color: #fff;
  border: none;
  border-radius: 1vmin;
  background-color: #303030;
  resize: none;
}
