body {
  font-family: "Oswald", sans-serif;
}

button {
  font-family: "Oswald", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2d3047;
  min-height: 100vh;
  color: #dbdfac;

}

.App-header {
  text-align: center;
  font-size: calc(40px + 2vmin);
  margin-bottom: 16px;
  height: 1.5em;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.App-footer,
.App-header {
  background-color: #5f758e;
  width: 100%;
}

.App-footer {
  text-align: center;
  color: #000;
}

.App-body {
  flex-grow: 1;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.scoreboard {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin-bottom: 16px;
}

.score {
  font-size: calc(5vmin);
  text-align: center;
  border-radius: 2vmin;
  text-transform: uppercase;
}

.input {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.mic,
.lyrics {
  height: 20vh;
  box-sizing: border-box;
}

.or {
  font-size: 48px;
}

.listen,
.type {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listen-button {
  width: 100%;
  margin: 1rem 0px;
  font-size: calc(14px + 2vmin);
  color: #dbdfac;
  border: none;
  border-radius: 1vmin;
  background-color: #303030;
  resize: none;
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

/* middle child */
.button:not(:first-child):not(:last-child) {
  margin: 0 15px;
}

.button {
  background: #A53860;
  border: none;
  padding: 0.5rem 1rem;
  font-size: calc(3vmin);
  border-radius: 1vmin;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: rgba(241, 245, 242, 0.7);
  transition: color 0.5s ease-in-out;
}

.button:active, .button:hover {
  color: rgba(241, 245, 242, 1);
}
